
# Resultados (no publish)
results/*.csv
results/*.tsv
results/*.parquet
results/*.png
results/*.pdf
results/*.svg
results/*.json

# Datos crudos/externos (no version)
data/raw/
data/processed/
data/external/*.fa
data/external/*.fasta
data/raw/*.bw
data/raw/*.bigWig
data/raw/*.bigBed
data/raw/*.bam
data/raw/*.fastq
data/raw/*.bed

# Python
__pycache__/
*.pyc
.venv/
.env

# R
.Rproj.user/
.Rhistory
.RData

# Notebooks
.ipynb_checkpoints/

# Datos pesados/intermedios (no versionar)
data/raw/*.bw
data/raw/*.bam
data/raw/*.bigWig
data/raw/*.fastq
data/processed/*.bed
results/supplementary/interactive_html/

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
